<ion-view title="Onde estamos" id="areacobertura" style="background:#212121;color:#ff4444;">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-buttons side="primary">
      <button class="button button-clear  "  style="font-family:Kollektif;" ui-sref="tabsController.home">Voltar
  
      </button>
    </ion-nav-buttons>
    
  <ion-content padding="true" class="has-header">

     <h2 style="text-align: center;font-family:Kollektif;font-size:22px;color: white;" ng-show="!LimiteFuncionamentoDiwo">Onde estamos presentes</h2>
    <img  src="img/Area de atuacao.png" width="100%" height="auto" ng-show="!LimiteFuncionamentoDiwo" style="display: block;
            margin-left: auto;
            margin-right: auto;
            object-fit: cover;" >

  </ion-content>
</ion-view>