<ion-view title="Conquistas" id="badgesperfil_outro_eventoabertos" style="background:#212121;color:#ff4444;">


<ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
</ion-nav-bar>


  <ion-content padding="true" class="has-header">
    <p   style="color:#FCFCFC;text-align: center;font-family:Kollektif;font-size: 22px;margin: auto;"> ______ Especial ______ </p>
    <p   style="color:#FCFCFC;text-align: center;font-family:Kollektif;font-size: 16px;margin-top: 10px"> {{naotembadgesgeral}}</p>

        <div class = "row">
            <div class = "col" >
              <img id="NumberOneHExa" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "entraBadge('NumberOneHExa')" >

            </div>
            <div class = "col">
          <!--     <img id="BCWalkingTour" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "" > -->
              
            </div>
            <div class = "col" >
<!--               <img id="BravaBeachSports" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "" > -->
              
            </div>
            <div class = "col" >
            <!--   <img id="MVBTennisPaddel" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "" > -->
              
            </div>
            <div class = "col" >
  <!--             <img id="Paintball" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "" > -->
              
            </div>
            <div class = "col" >
     <!--          <img id="TriboDaÁgua" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "" > -->
              
            </div>
        </div>

     <p   style="color:#FCFCFC;text-align: center;font-family:Kollektif;font-size: 22px;margin: auto;"> ______ Comércios ______ </p>

     <p   style="color:#FCFCFC;text-align: center;font-family:Kollektif;font-size: 16px;margin-top: 10px"> {{naotembadgescomercio}}</p>

        <div class = "row">
            <div class = "col" >
              <img id="BarcoPirataItapema" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "" >

            </div>
            <div class = "col">
              <img id="BCWalkingTour" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "" >
              
            </div>
            <div class = "col" >
              <img id="BravaBeachSports" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "" >
              
            </div>
            <div class = "col" >
              <img id="MVBTennisPaddel" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "" >
              
            </div>
            <div class = "col" >
              <img id="Paintball" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "" >
              
            </div>
            <div class = "col" >
              <img id="TriboDaÁgua" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "" >
              
            </div>
        </div>





   <!--  <p   style="color:#FCFCFC;text-align: center;font-family:Kollektif;font-size: 22px;margin: auto;"> ______ Geral ______ </p>

        <div class = "row">
            <div class = "col" >
              <img id="QuantidadePersonalidades" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "entraBadge('QuantidadePersonalidades')" >

            </div>
            <div class = "col">
              <img id="SmartDealer" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "entraBadge('SmartDealer')" >
              
            </div>
            <div class = "col" >
              <img id="Criador" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "entraBadge('Criador')" >
              
            </div>
            <div class = "col" >
              <img id="Participante" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "entraBadge('Participante')" >
              
            </div>
            <div class = "col" >
              <img id="Comentarios" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "entraBadge('Comentarios')" >
              
            </div>
            <div class = "col" >
              <img id="OriginalPoster" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "entraBadge('OriginalPoster')" >
              
            </div>
        </div>


        <div class = "row">
            <div class = "col" >
              <img id="Upvotes" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "entraBadge('Upvotes')" >

            </div>
            <div class = "col">
              
            </div>
            <div class = "col" >
              
            </div>
            <div class = "col" >
              
            </div>
            <div class = "col" >
              
            </div>
            <div class = "col" >
              
            </div>
        </div> -->


    <p   style="color:#FCFCFC;text-align: center;font-family:Kollektif;font-size: 22px;margin: auto;"> ______ Categorias ______ </p>

        <div class = "row">
            <div class = "col" >
              <img id="ArteeCultura" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "entraBadge('ArteeCultura')" >

            </div>
            <div class = "col">
              <img id="Ciclismo" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "entraBadge('Ciclismo')" >
              
            </div>
            <div class = "col" >
              <img id="Conversa" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "entraBadge('Conversa')" >
              
            </div>
            <div class = "col" >
              <img id="Danca" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "entraBadge('Danca')" >
              
            </div>
            <div class = "col" >
              <img id="EsportesdePraia" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "entraBadge('EsportesdePraia')" >
              
            </div>
            <div class = "col" >
              <img id="FestaseBaladas" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "entraBadge('FestaseBaladas')" >
              
            </div>
        </div>

        <div class = "row">
            <div class = "col" >
              <img id="Futebol" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "entraBadge('Futebol')" >

            </div>
            <div class = "col">
              <img id="GrupodeEstudos" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "entraBadge('GrupodeEstudos')" >
              
            </div>
            <div class = "col" >
              <img id="Jogos" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "entraBadge('Jogos')" >
              
            </div>
            <div class = "col" >
              <img id="Musica" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "entraBadge('Musica')" >
              
            </div>
            <div class = "col" >
              <img id="Natureza" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "entraBadge('Natureza')" >
              
            </div>
            <div class = "col" >
              <img id="Passeio" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "entraBadge('Passeio')" >
              
            </div>
        </div>


        <div class = "row">
            <div class = "col" >
              <img id="Pets" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "entraBadge('Pets')" >

            </div>
            <div class = "col">
              <img id="Restaurantesebares" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "entraBadge('Restaurantesebares')" >
              
            </div>
            <div class = "col" >
              <img id="Surf" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "entraBadge('Surf')" >
              
            </div>
            <div class = "col" >
              <img id="Voluntariado" style="width : 14vw ; height : auto;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;align-items: center;
                  justify-content: center;display: flex;" ng-click = "entraBadge('Voluntariado')" >
              
            </div>
            <div class = "col" >
         
              
            </div>
            <div class = "col" >
         
            </div>
        </div>


  </ion-content>
</ion-view>