<ion-view  id="bairrosolicitado" title="Cadastro para Bairro"  style="background:#212121;color:#ff4444;">
  <ion-nav-bar class = "bar-positive">
<!--     <ion-nav-title >
        <img  height="90%"   src="img/titulo.png" >    
        </ion-nav-title>  -->

  </ion-nav-bar>
  
  <ion-content padding="true" class="has-header">
    <style type="text/css">
      span.infos { color:#ff4444;font-weight:bold;font-family:Kollektif;font-size:16px; }
    </style>

        <style>
      /* Style the buttons */
      .btnnovahomelogin {
        background:#212121;
        border-color: #ff4444;
          border: solid 1 ;
          outline: #ff4444;
          cursor: pointer;
          font-size: 22px;
          width: 100%;
          height: auto;
          
          color: #e0e0e0;
          font-family:Kollektif;
          border-radius:64px 64px 64px 64px;
          padding: 10px;
      }
      .btnnovahomelogin:active {
          background: #111;
          color: #ff4444;
      }
      </style>

      <h2 style="text-align: center;font-family:Kollektif;font-size:22px;color: #ff4444;" >Solicitação enviada!</h2>
      
      <p style="color:#FCFCFC;text-align: left;font-family:Kollektif;font-size: 16px;margin-top:12px;">Seu cadastro está em análise e se aprovado, você receberá seu código pelo <span class="infos">correio</span>!</p>

      <p style="color:#FCFCFC;text-align: left;font-family:Kollektif;font-size: 16px;margin-top:12px;">São necessários no <span class="infos">mínimo 5 vizinhos </span>para abrir um novo bairro, ajude a atingir esse número compartilhando <span class="infos"> nosso contato do Whatsapp </span> com os vizinhos que você já conhece! Aumente a força da sua comunidade!</p>

      <button class="btnnovahomelogin" ng-click="compartilhawhats()" style="font-family:Kollektif; margin-bottom: 35px;
          margin-top: 15px;font-size: 16px;">Compartilhar nosso WhatsApp</button>



   

  </ion-content>
</ion-view>