<ion-view  id="bairroinfo" title="Confirmando endereço" style="background:#212121;color:#ff4444;">
  <ion-nav-bar class = "bar-positive">
<!--     <ion-nav-title >
        <img  height="90%"   src="img/titulo.png" >    
        </ion-nav-title>  -->
        <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  
  <ion-content padding="true" class="has-header">
    <style type="text/css">
      span.termos { color:#FCFCFC;font-family:Kollektif;font-size:16px;text-align: center; }
    </style>
    <style type="text/css">
     span.infos { color:#FCFCFC;font-family:Kollektif;font-size:16px; }

    </style>

        <style>
      /* Style the buttons */
      .btnnovahomelogin {
        background:#212121;
        border-color: #ff4444;
          border: solid 1 ;
          outline: #ff4444;
          cursor: pointer;
          font-size: 22px;
          width: 100%;
          height: auto;
          
          color: #e0e0e0;
          font-family:Kollektif;
          border-radius:64px 64px 64px 64px;
          padding: 10px;
      }
      .btnnovahomelogin:active {
          background: #111;
          color: #ff4444;
      }
      </style>


       <img src="img/Cadeado2.png"  style="height: auto; 
               width: 23vw; 
              display: block;
              margin-right: auto;
              margin-left: auto;
              object-fit: cover;" >
       
      
      <p style="color:#FCFCFC;text-align: center;font-family:Kollektif;font-size: 16px;margin-top: 12px;"> Nós do Diwo nos preocupamos com sua segurança.</p>
      <div class="spacer" style="width: 300px; height: 17px;"></div>
      
      <p style="color:#FCFCFC;text-align: center;font-family:Kollektif;font-size: 16px;margin-top: 12px;"> Por isso, exigimos que todos os vizinhos validem um código que enviaremos pelo correio, afim de confirmar que eles realmente fazem parte de seus bairros.</p>
      <div class="spacer" style="width: 300px; height: 17px;"></div>
      
    <!--   <p style="color:#FCFCFC;text-align: center;font-family:Kollektif;font-size: 16px;margin-top: 12px;"> Assim, o que for postado naquela vizinhança permanece apenas entre os residentes da mesma. Para saber mais, acesse nossos </p>    <a  href="#" style="color:#FCFCFC;font-weight:bold;font-family:Kollektif;font-size:16px;text-align: center;" onclick="window.open('http://diwoapp.com.br/termos-de-uso/', '_system', 'location=no'); return false;">Termos de uso</a>
      <div class="spacer" style="width: 300px; height: 17px;"></div>
 -->


      <p style="color:#FCFCFC;text-align: left;font-family:Kollektif;font-size: 16px;margin-top:12px;">Assim, o que for postado naquela vizinhança permanece apenas entre os residentes da mesma. Para saber mais, acesse nossos 
          <button  ng-click="termos()" style="font-family:Kollektif;color:#FCFCFC;font-size:14px;text-align: center;align-items: center;background-color: #212121;border: 0px;width: 100%;text-decoration: underline;"> <span class="infos">Termos de uso</span ></button></p>





   

  </ion-content>
</ion-view>