<ion-view  id="bairroapresenta" title="Posts do meu bairro" style="background:#212121;color:#ff4444;">
  <ion-nav-bar class = "bar-positive">
<!--     <ion-nav-title >
        <img  height="90%"   src="img/titulo.png" >    
        </ion-nav-title>  -->
<ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  
  <ion-content padding="true" class="has-header">
    <style type="text/css">
      span.termos { color:#FCFCFC;font-weight:bold;font-family:Kollektif;font-size:14px;text-align: center; }
    </style>

        <style>
      /* Style the buttons */
      .btnnovahomelogin {
        background:#212121;
        border-color: #ff4444;
          border: solid 1 ;
          outline: #ff4444;
          cursor: pointer;
          font-size: 22px;
          width: 100%;
          height: auto;
          
          color: #e0e0e0;
          font-family:Kollektif;
          border-radius:64px 64px 64px 64px;
          padding: 10px;
      }
      .btnnovahomelogin:active {
          background: #111;
          color: #ff4444;
      }
      </style>

       <p style="color:#FCFCFC;text-align: center;font-family:Kollektif;font-size: 22px;margin-top: 12px;"> Ajude seu bairro a ser mais conectado, seguro e melhor.</p>
       <div class="spacer" style="width: 300px; height: 17px;"></div>
       <img src="img/Casinhas2.png"  style="height: auto; 
               width: 23vw; 
              display: block;
              margin-right: auto;
              margin-left: auto;
              object-fit: cover;" >
       <p style="color:#FCFCFC;text-align: center;font-family:Kollektif;font-size: 22px;margin-top: 12px;"> Ops!</p>
       
      
      <p style="color:#FCFCFC;text-align: center;font-family:Kollektif;font-size: 16px;margin-top: 12px;"> Você ainda não faz parte de nenhum bairro! Selecione a opção abaixo para não ficar de fora do que acontece na sua vizinhança!</p>
       <div class="spacer" style="width: 300px; height: 35px;"></div>

<!-- 



   
  <button id="perfil-button181" class="btnnovahomelogin" ng-click="ValidarQR()" style="font-family:Kollektif; margin-bottom: 15px;
          margin-top: 15px;font-size: 16px;">Validar QR Código</button> -->
       
  <button id="perfil-button181" class="btnnovahomelogin" ng-click="entrarBairro()" style="font-family:Kollektif; margin-bottom: 15px;font-size: 16px;">Entrar em um bairro</button>
 
  </ion-content>
</ion-view>