<ion-view  id="bairroendereconaoconfirmado" title="Confirmando bairro" style="background:#212121;color:#ff4444;">
  <ion-nav-bar class = "bar-positive">
<!--     <ion-nav-title >
        <img  height="90%"   src="img/titulo.png" >    
        </ion-nav-title>  -->
  </ion-nav-bar>
  
  <ion-content padding="true" class="has-header">
    <style type="text/css">
      span.termos { color:#FCFCFC;font-weight:bold;font-family:Kollektif;font-size:14px;text-align: center; }
    </style>

        <style>
      /* Style the buttons */
      .btnnovahomelogin {
        background:#212121;
        border-color: #ff4444;
          border: solid 1 ;
          outline: #ff4444;
          cursor: pointer;
          font-size: 22px;
          width: 100%;
          height: auto;
          
          color: #e0e0e0;
          font-family:Kollektif;
          border-radius:64px 64px 64px 64px;
          padding: 10px;
      }
      .btnnovahomelogin:active {
          background: #111;
          color: #ff4444;
      }
      </style>

       <p style="color:#FCFCFC;text-align: center;font-family:Kollektif;font-size: 22px;margin-top: 12px;">Seu endereço ainda não foi confirmado</p>
       <div class="spacer" style="width: 300px; height: 17px;"></div>

      
      <p style="color:#FCFCFC;text-align: center;font-family:Kollektif;font-size: 16px;margin-top: 12px;"> Nosso pombo correio parou para ir na praia e ainda não confirmou seu endereço, aguarde ele te achar</p>
       <div class="spacer" style="width: 300px; height: 65px;"></div>

  </ion-content>
</ion-view>