<ion-view title="Qndo?" id="criarmarcandodia" style="background:#212121;color:#ff4444;">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
<!--   <ion-nav-buttons side="primary">
      <button class="button button-clear  "  style="font-family:Kollektif;" ui-sref="perfilComercio">Voltar
  
      </button>
    </ion-nav-buttons> -->
    
  <ion-content padding="true" class="has-header">
     <style>
      /* Style the buttons */
       .botaocancela {
        background:#212121;
        border-color: red;
          border: solid 1 ;
          outline: red;
          cursor: pointer;
          width: 100%;
          height: 50px;
          /*color: #e0e0e0;*/
          font-family:Kollektif;
        padding: 25px;
        font-size: 22px;
        border-radius: 64px 64px 64px 64px ;
        display: flex;
        height:  auto;
        width: auto;
        color:red ;
        align-items: center;
        justify-content: center;
        float:left;
         margin-bottom: 15px;
          margin-top: 15px;
      }
       .botaocancela:active {
          background: #666;
          color: #ff4444;
          border-color: #ff4444;
          border: solid 1 ;
          outline: #ff4444;
      }

      .botaoproximo {
        background:#212121;
        border-color: #ff4444;
          border: solid 1 ;
          outline: #ff4444;
          cursor: pointer;
         
          /*color: #e0e0e0;*/
          font-family:Kollektif;
        padding: 25px;
        font-size: 22px;
        border-radius: 64px 64px 64px 64px ;
    
        height:  auto;
        width: auto;
        color:#ff4444 ;
        align-items: center;
        justify-content: center;
        float:right;
         margin-bottom: 15px;
          margin-top: 15px;
      }
       .botaoproximo:active {
          background: #666;
          color: #ff4444;
          border-color: #ff4444;
          border: solid 1 ;
          outline: #ff4444;
      }

      </style>
     <div class="spacer" style="width: 300px; height: 55px;" ng-show="!LimiteFuncionamentoDiwo"></div>


         <h2 style="text-align: center;font-family:Kollektif;font-size:22px;color: white;" ng-show="LimiteFuncionamentoDiwo">Olá! Ficamos felizes por você estar aqui! Ainda não estamos disponíveis nessa região :/  Mas não se preocupe, pois se tudo der certo em breve estaremos!</h2>
      <img  src="img/App indisponivel regiao.png" width="100%" height="auto" ng-show="LimiteFuncionamentoDiwo" style="display: block;
            margin-left: auto;
            margin-right: auto;
            object-fit: cover;" >
      <button id="criandoEventofs33" style="border-radius:64px 64px 64px 64px;text-align: center;margin-top:10px;width: 100%;background:#212121;font-family:Kollektif;" class="button button-balanced button-outline" ng-click="area()" ng-show="LimiteFuncionamentoDiwo">Ver áreas de cobertura</button>


        
   <h2 id="criandoEventoPart3-heading10" style="text-align: center;font-family:Kollektif;font-size:22px;color: white;" ng-show="!LimiteFuncionamentoDiwo">Bora criar um evento supimpa? Quando que vai ser?</h2>
      

      <div class="item" ion-datetime-picker ng-model="evento.date" ng-change="muda()" ng-show="!LimiteFuncionamentoDiwo" style="color:#ff4444;background-color: #212121;align-items: center;text-align: center;font-size:22px; margin-left: auto;
  margin-right: auto;border-width: 0px">
                <strong>{{evento.date| date: "yyyy-MM-dd HH:mm"}}</strong>
      </div>
  <!--     <input type="date" ng-model="evento.date" style="color:#ff4444;background-color: #212121;align-items: center;text-align: center;font-size:30px; margin-left: auto;
  margin-right: auto;"> -->

 <!--   <a id="Confirmar-button12" style="border-color: #ff4444;font-family:Kollektif;background:#212121;font-size:18px;border-radius: 50%;display: flex;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;height:  70px;width: 70px;color:#ff4444 ;align-items: center;
  justify-content: center; float:right; margin-top: 50vh;"  class="button button-balanced button-outline" ng-click="Proximo()">Próximo</a> -->
      
    <button  class="botaoproximo" ng-click="Proximo(evento)" style="font-family:Kollektif;font-size: 22px;display: flex;margin-left: auto;" ng-show="!LimiteFuncionamentoDiwo">Próximo</button>


  </ion-content>



</ion-view>