<ion-view title="CRIE" id="page20"  style="background:#212121;color:#ff4444;">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-content padding="true" class="has-header">

    <style>
      /* Style the buttons */
      .btnpor {
        background:#212121;
        
        cursor: pointer;
        font-size: 16px;
        width: 100%;
        height: 50px;
        margin: auto;
        color: #e0e0e0;
        font-family:Kollektif;
        border-bottom-right-radius: 14px;border-bottom-left-radius: 14px;border-width: 1px;
      }
      .actr, .btnpor:hover {
          background: #222;
          color: #ff4444;
      }

      .tatag {
        margin-left:10px;
        margin-left:4px;
        border-radius:64px 64px 64px 64px;
        text-align: center;
/*        width: 20%;*/
        height:25px;
        border-width: 1px;
        background:#212121;
        border-color: #ff4444;
        color:  #e0e0e0;

        

        font-family:Kollektif;
      }
  /*    .act121r, .tatag:hover {
          background: #222;
          color: #ff4444;
      }
*/

      </style>
      <p style="color:#FCFCFC;text-align: center;font-size: 20px" ng-show="limiteatuacao">Ótimo saber que você quer criar um evento! Mas parece que estamos indisponíveis na sua região :/ acompanhe a gente nas redes para saber quando iremos chegar aí :)</p>


<p style="color:#FCFCFC;text-align: center;font-size: 20px" ng-show="!limiteatuacao">Informações Básicas</p>
<div class="spacer" style="width: 300px; height: 20px;" ng-show="!limiteatuacao"></div>

    <!-- <h2 id="criandoEventoPart1-heading8" style="color:#FCFCFC;font-family:Kollektif;text-align: center"> Olááá!! Bora criar um evento supimpa!!</h2> -->
   <!--  <div id="criandoEventoPart1-markdown8" class="show-list-numbers-and-dots" style="
    border-radius:14px 14px 14px 14px;
    border: solid 1px #666;">
      <p style="color:#ff4444;text-align: left;font-size: 16px;">Quais hashtags se encaixam no meu evento?</p>
    
       <textarea name="comment" id="comment-textarea" ng-model="evento.tags" placeholder=" #esporte #voluntariado #arte #praia #futebol #natureza #servicocomunitario #cachoeiras #fotografia #foodtruck #yoga #cachorro " style="
     width: 100%;
    height: 100px;
    background-color: #212121;
    color: #FCFCFC;
    margin: auto;
    margin-top: 20px;">

      </textarea>
    </div> -->

    <div class="item-input-inset" ng-show="!limiteatuacao">
      <label class="item item-input" id="filtrrch1" style="width: 100%;border-radius:64px 64px 64px 64px;text-align: center;height:50px;background:#212121;;color:  #fff;" ng-submit="adicionatag()">
        <i class="icon ">#</i>
        <input type="text" placeholder=" Adicione pelo menos uma tag" ng-model="evento.addtag" ng-submit="adicionatag()" style="color: #FCFCFC;">
      </label>
      <button class="button button-small button-outline" ng-click = "adicionatag()" style="margin-left:10px;border-radius:64px 64px 64px 64px;text-align: center;width: 20%;height:50px;background:#212121;border-color: #ff4444;color:  #fff;">Add</button>
    </div>

      <button style="border-radius: 80%;float:right; background:#212121;font-family:Kollektif;color: #ff4444;font-weight: bold;margin-top: 1px;"  ng-click="duvida4()" ng-show="!limiteatuacao">?</button>
    <div id="barrr" class="button-bar" ng-show="!limiteatuacao">
      <a class="tatag" ng-click="tiratag1()" ng-show = "evento.auxtagbutton1">{{evento.auxtag1}} </a>
      <a class="tatag" ng-click="tiratag2()" ng-show = "evento.auxtagbutton2">{{evento.auxtag2}} </a>
      <a class="tatag" ng-click="tiratag3()" ng-show = "evento.auxtagbutton3">{{evento.auxtag3}} </a>
      
    </div>
      <div id="barrr2" class="button-bar" style="margin-top: 5px;" ng-show="!limiteatuacao">
        <a class="tatag" ng-click="tiratag4()" ng-show = "evento.auxtagbutton4">{{evento.auxtag4}} </a>
      <a class="tatag" ng-click="tiratag5()" ng-show = "evento.auxtagbutton5">{{evento.auxtag5}} </a>
      <a class="tatag" ng-click="tiratag6()" ng-show = "evento.auxtagbutton6">{{evento.auxtag6}} </a>

    </div>


  </div>
      <div id="barrr3" class="button-bar" style="margin-top: 5px;" ng-show="!limiteatuacao">
        <a class="tatag" ng-click="tiratag7()" ng-show = "evento.auxtagbutton7">{{evento.auxtag7}} </a>
      <a class="tatag" ng-click="tiratag8()" ng-show = "evento.auxtagbutton8">{{evento.auxtag8}} </a>
      <a class="tatag" ng-click="tiratag9()" ng-show = "evento.auxtagbutton9">{{evento.auxtag9}} </a>

    </div>
<!--     
       <textarea name="comment" id="comment-textarea" ng-model="evento.tags" style="
     width: 100%;
    background-color: #212121;
    color: #FCFCFC;
    margin: auto;
    margin-top: 20px;">

      </textarea> -->






          <div class="spacer" style="width: 300px; height: 50px;" ng-show="!limiteatuacao"></div>
  <!--     <p style="color:#A9A9A9;text-align: left;margin-left:10px; margin-top: 10px;">Fica mais fácil para outras pessoas acharem seu evento pelas tags.</p> -->
      

    

      <!-- <div   style="border-top-right-radius: 14px;border-top-left-radius: 14px;color:#ff4444;">
                Qndo será?
        <input type="datetime-local" ng-model="evento.date" ng-change="muda()" style="color:#ff4444;background-color: #212121;">
      </div> -->
       <div class="item" ion-datetime-picker ng-model="evento.date" ng-change="muda()" style="border-top-right-radius: 14px;border-top-left-radius: 14px;color:#ff4444;" ng-show="!limiteatuacao">
                Qndo será?
                <strong>{{evento.date| date: "yyyy-MM-dd HH:mm"}}</strong>
      </div>

      <div class="item" style="color:#ff4444;font-size: 16px;" ng-show="!limiteatuacao">
        <p style="color:#ff4444;font-size: 16px;"> Vai até que horas mais ou menos?</p>
        <input type="time" ng-model="evento.duracao" style="color:#ff4444;background-color: #212121;float:right;">
          
      </div>

<!-- 
     
      <div class="item" ion-datetime-picker time ng-model="evento.duracao "style="color:#ff4444; ">
          Qnto tempo durara?
          <strong>{{evento.duracao| date: " H:mm" }}</strong>

      </div> -->
<!-- 
   <input type="date" data-date="" data-date-format="DD MMMM, YY" value="YOUR_SELECTED_DATE" ng-model="YOUR_DATE_MODAL">
   <input type="time" ng-model="evento.duracao"> -->


       <label class="item item-select" id="editarPerfil-select3" style="border-bottom-right-radius: 14px;border-bottom-left-radius: 14px;" ng-show="!limiteatuacao">

        <span class="input-label" style="color:#ff4444;" >Confirmar em até?</span>
        <select ng-model="evento.redzone" ng-change="red()" style="background-color: #212121;color: white;">
          <option value="1">1 hora antes</option>
          <option value="3">3 horas antes</option>
          <option value="6">6 horas antes</option>
          <option value="12">12 horas antes</option>
          <option value="24">24 horas antes</option>
        </select>
      </label>

      <button style="border-radius: 80%;float:right; background:#212121;font-family:Kollektif;color: #ff4444;font-weight: bold;margin-top: 4px;"  ng-click="duvida()" ng-show="!limiteatuacao">?</button>
    
          <div class="spacer" style="width: 300px; height: 50px;" ng-show="!limiteatuacao"></div>
<!-- 
      <p style="color:#A9A9A9;text-align: left;margin-left:10px; margin-top: 10px;">Uma vez que chega na data limite de confirmação, caso o evento não atinja o número mínimo de pessoas, o evento será cancelado automaticamente.</p> -->

      <label class="item item-input" id="criandoEventoPart1-input22" style="border-top-right-radius: 14px;border-top-left-radius: 14px;" ng-show="!limiteatuacao">
          <span class="input-label" style="color:#ff4444; "> Custo estimado (R$)</span>
          <input type="text" placeholder="Se grátis, pule" ng-model="evento.preco" style="color: white;">
          

      </label>
       
      <div id="barpor" class="button-bar" style="border-bottom-right-radius: 14px;border-bottom-left-radius: 14px;" ng-show="!limiteatuacao">
         <button id="buastn18" class="btnpor actr " ng-click = "pessoa()" >por pessoa</button>
         <button id="tonas16"  class="btnpor "  ng-click = "hora()" >por hora</button>
      </div>
         <button style="border-radius: 80%;float:right; background:#212121;font-family:Kollektif;color: #ff4444;font-weight: bold;margin-top: 4px;"  ng-click="duvida2()" ng-show="!limiteatuacao">?</button>
         <div class="spacer" style="width: 300px; height: 50px;" ng-show="!limiteatuacao"></div>
<!--       <p style="color:#A9A9A9;text-align: left;margin-left:10px; margin-top: 10px;">Em alguns casos como quadras é cobrado por hora e em outros é cobrado por pessoa, então é melhor deixar avisado certinho né.</p> -->


      <label class="item item-select" id="editarPerfil-select3" style="border-radius:14px 14px 14px 14px;" ng-show="!limiteatuacao">
        <span class="input-label" style="color:#ff4444;font-size: 16px; ">Qual público?</span>
        <select ng-model="evento.genero"  style="background-color: #212121;color: white;font-size: 16px;">
          <option value="todos">Todos</option>
          <option value="fem" ng-show="femin">Exclusivo gênero feminino</option>
          <option value="masc" ng-show="!femin">Exclusivo gênero masculino</option>
        </select>
      </label>
       <button style="border-radius: 80%;float:right; background:#212121;font-family:Kollektif;color: #ff4444;font-weight: bold;margin-top: 4px;"  ng-click="duvida3()" ng-show="!limiteatuacao">?</button>
<!--       <p style="color:#A9A9A9;text-align: left;margin-left:10px; margin-top: 10px;">O evento não aparecerá para pessoas que não forem do gênero selecionado</p> -->

  
      <div class="spacer" style="width: 300px; height: 50px;" ng-show="limiteatuacao"></div>
      <p style="color:#ff4444;text-align: center;margin-top:10px;font-size: 16px;" ng-show="!limiteatuacao">{{evento.dificuldade}}</p>

      <ion-item class="range range-positive" id="filtro-range1" style="border-radius:14px 14px 14px 14px;" ng-show="!limiteatuacao">
        <input ng-model="evento.dificuldaden" type="range"  min="1" max="4" step="1" ng-change = "ch()">
      </ion-item>
      <button id="criandoEventoPart1-button33" style="border-radius:64px 64px 64px 64px;text-align: center;margin-top:10px;width: 100%;background:#212121;" class="button button-balanced button-outline" ng-click="getCriar(evento)" ng-show="!limiteatuacao">Proximo</button>
    </div>
  </ion-content>
</ion-view>