<ion-view title="Onde?" id="criarmarcandolocal" style="background:#212121;color:#ff4444;">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
<!--   <ion-nav-buttons side="primary">
      <button class="button button-clear  "  style="font-family:Kollektif;" ui-sref="perfilComercio">Voltar
  
      </button>
    </ion-nav-buttons> -->
    
  <ion-content padding="true" class="has-header">
     <style>
      /* Style the buttons */
       .botaocancela {
        background:#212121;
        border-color: red;
          border: solid 1 ;
          outline: red;
          cursor: pointer;
          width: 100%;
          height: 50px;
          /*color: #e0e0e0;*/
          font-family:Kollektif;
        padding: 25px;
        font-size: 22px;
        border-radius: 64px 64px 64px 64px ;
        display: flex;
        height:  auto;
        width: auto;
        color:red ;
        align-items: center;
        justify-content: center;
        float:left;
         margin-bottom: 15px;
          margin-top: 15px;
      }
       .botaocancela:active {
          background: #666;
          color: #ff4444;
          border-color: #ff4444;
          border: solid 1 ;
          outline: #ff4444;
      }

      .botaoproximo {
        background:#212121;
        border-color: #ff4444;
          border: solid 1 ;
          outline: #ff4444;
          cursor: pointer;
         
          /*color: #e0e0e0;*/
          font-family:Kollektif;
        padding: 25px;
        font-size: 22px;
        border-radius: 64px 64px 64px 64px ;
    
        height:  auto;
        width: auto;
        color:#ff4444 ;
        align-items: center;
        justify-content: center;
        float:right;
         margin-bottom: 15px;
          margin-top: 15px;
      }
       .botaoproximo:active {
          background: #666;
          color: #ff4444;
          border-color: #ff4444;
          border: solid 1 ;
          outline: #ff4444;
      }

      </style>
<!--      <div class="spacer" style="width: 300px; height: 55px;"></div> -->
      
        <h2 id="criandoEventoPart3-heading10" style="text-align: center;font-family:Kollektif;font-size:22px;color: white;">E... onde que vai ser?</h2>

 <input id="pac-input" class="controls" type="text" ng-focus="disableTap()" style="width: 100%;border-radius:10px 10px 10px 10px;"
        placeholder="  Escreva aqui ou arraste o marcador no mapa">
<div class="spacer" style="width: 300px; height: 14px;"></div>

<!--  <label class="item item-input" id="criandoEventoPart1-input19">
        <span class="input-label">Nome do local</span>
        <input type="text" placeholder="Praia, quiosque 30, pico da pedra" ng-model="evento.nomelocal">
      </label> -->
   <div id="map_canvas" style="color:#45c18e;width: 100%; height: 50vh;border-radius:14px 14px 14px 14px;border: solid 1px #ff4444;" data-tap-disabled="true"></div>

    <div id="criandoEventoPart2-button-bar6" class="button-bar">

<!--       <button id="criandoEventoPart2-button36" style="border-radius:64px 64px 64px 64px;text-align: center;margin-top:10px;width: 100%;background:#212121;position:relative;margin-top:100%;font-family:Kollektif;" class="button button-balanced button-outline" ng-click="Proximo(evento)">Proximo</button> -->
    </div>
     <p style="color:#FCFCFC;text-align: left;font-size: 10px;font-family:Kollektif;font-weight:italic;">*Este campo é obrigatório</p>
  </ion-content>

   <div class="bar bar-footer"  style="background-color: transparent;border-width: 0px; height: 20vw;border: 0px;
border-color: transparent;
border-top: transparent;
border-bottom: transparent;
background-image: none !important;
 background-image: none; ">
       <!--  <div class = "col" style="margin: auto;">
              <a id="Confirmar-button12" style="border-color: #ff4444;font-family:Kollektif;background:#212121;font-size:18px;border-radius: 50%;display: flex;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;height:  70px;width: 70px;color:#ff4444 ;align-items: center;
  justify-content: center; float:right;"  class="button button-balanced button-outline" ng-click="Proximo(evento)">Próximo</a>

 -->
     
    <button  class="botaoproximo" ng-click="Proximo(evento)" style="font-family:Kollektif;font-size: 22px;display: flex;margin-left: auto;">Próximo</button>
</ion-view>