<ion-view title="Código?" id="fuiconvidado" style="background:#212121;color:#ff4444;">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
<!--   <ion-nav-buttons side="primary">
      <button class="button button-clear  "  style="font-family:Kollektif;" ui-sref="perfilComercio">Voltar
  
      </button>
    </ion-nav-buttons> -->
    
  <ion-content padding="true" class="has-header">
     <style>
      /* Style the buttons */
      .btnfuiconvidado {
        background:#212121;
        border-color: #ff4444;
          border: solid 1 ;
          outline: #ff4444;

          cursor: pointer;
          font-size: 16px;
          width: 100%;
          height: 50px;
          color: #e0e0e0;
          border-radius:64px 64px 64px 64px;
          padding: 10px;
          font-family:Kollektif;
      }
      .btnfuiconvidado:active {
          background: #111;
          color: #ff4444;
      }
      </style>

            <div class="spacer" style="width: 300px; height: 55px;"></div>

      <h2 style="text-align: center;font-family:Kollektif;font-size:22px;color: white;" >Insira código de acesso, a senha secreta para pessoas legais</h2>

      <input type="text" ng-model="codigoconvite.convite" placeholder="Código" style="background:#212121;border-color: #cdcdcd;color:  #ff4444;text-align: center;width: 100%;font-size: 22px;font-weight: 500 bold;font-family:Kollektif;">
     

  </ion-content>

   <div class="bar bar-footer"  style="background-color: transparent;border-width: 0px; height: 25vw;border: 0px;
border-color: transparent;
border-top: transparent;
border-bottom: transparent;
background-image: none !important;
 background-image: none; ">

 <button id="perfil-button181" class="btnfuiconvidado" ng-click="Proximo()" style="font-family:Kollektif;display: flex;margin-left: auto;margin-right: auto;margin-bottom: auto;margin-top: auto;height:  auto;width: auto;font-size:16px;border-radius:64px 64px 64px 64px;
          padding: 10px;">Conferir</button>
       


</ion-view>