<ion-view title="Estrela do Criador" id="infoestrela" style="background:#212121;font-family:Kollektif;font-size:22px;">
  <ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
</ion-nav-bar>
  <ion-content padding="true" class="has-header">
      <style type="text/css">
    span.infoname { color:#ff4444;font-weight:bold;font-family:Kollektif;font-size:18px }
    </style>

    <div id="comentRiosEvento-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#FCFCFC;text-align: justify;font-family:Kollektif;font-size: 18px;">No momento é possível coletar pontos e usá-los para conquistar a <span class="infoname">"Estrela de Criador"</span>  </p>
      <p style="color:#FCFCFC;text-align: justify;font-family:Kollektif;font-size: 18px;">Existem <span class="infoname">três niveis</span>  diferentes de estrela </p>

      
      <img src="img/exemploestrela.png" width="90%" height="auto" style="display: block;
            margin-left: auto;
            margin-right: auto;" >
       <div class="spacer" style="width: 300px; height: 25px;"></div>
      <p style="color:#FCFCFC;text-align: justify;font-family:Kollektif;font-size: 18px;">O nível varia de acordo com <span class="infoname">3</span>  regras: </p>
      <p style="color:#FCFCFC;text-align: justify;font-family:Kollektif;font-size: 18px;"><span class="infoname">1)</span> É necessário usar pontos para obtê-las (uma vez apenas).</p>
      <p style="color:#FCFCFC;text-align: justify;font-family:Kollektif;font-size: 18px;">  <span class="infoname">2)</span> É preciso ter criado uma quantidade mínima de eventos para obtê-las.</p>
      <p style="color:#FCFCFC;text-align: justify;font-family:Kollektif;font-size: 18px;">  <span class="infoname">3)</span> É necessário criar uma quantidade de eventos regularmente para manter o nível atual da sua Estrela.
      </p>

      <img src="img/tabelaestrela.png" width="90%" height="auto" style="display: block;
            margin-left: auto;
            margin-right: auto;" >  

      <p style="color:#FCFCFC;text-align: justify;margin-top: 20px;font-family:Kollektif;font-size: 18px;">Caso você não crie a quantidade de eventos necessários para manter seu nível atual de estrela nos últimos 30 dias, ele <span class="infoname">regredirá ao nível anterior</span>.</p>
      <p style="color:#FCFCFC;text-align: justify;font-family:Kollektif;font-size: 18px;">Para reobter seu nível, basta criar a quantidade de eventos necessária.</p>
      <p style="color:#FCFCFC;text-align: justify;font-family:Kollektif;font-size: 18px;">Não há necessidade de gastar pontos novamente, somente se você ainda não obteve o nível.</p>
      <p style="color:#FCFCFC;text-align: justify;font-family:Kollektif;font-size: 18px;">Aproveite e destaque-se como um exemplo de Criador!</p>
    </div>

  </ion-content>
</ion-view>