<ion-view id="onboardingcomerciopessoa1" style="background:#212121;">
  <ion-nav-bar class="bar-positive">
        <ion-nav-title >
        <img  height="90%"   src="img/tituloB.png" >    
        </ion-nav-title> 
        <ion-nav-back-button></ion-nav-back-button>
</ion-nav-bar>

  <ion-content padding="true" class="has-header">
    <style type="text/css">
      span.infosobre { color:#ff4444;font-weight:bold;font-family:Kollektif;font-size:15px; }
    </style>
    <style type="text/css">
      span.infos { color:#FCFCFC;font-weight:bold;font-family:Kollektif;font-size:15px; }
    </style>
    <style>
      /* Style the buttons */
      .btn {
        background:#212121;
        border-color: #ff4444;
          border: solid 1 ;
          outline: #ff4444;
          cursor: pointer;
          font-size: 22px;
          width: 100%;
          height: auto;
          
          color: #e0e0e0;
          font-family:Kollektif;
          border-radius:64px 64px 64px 64px;
          padding: 10px;
      }
      .btn:active {
          background: #111;
          color: #ff4444;
      }
      </style>

      <p style="color:#FCFCFC;text-align: left;font-family:Kollektif;font-size: 22px;margin-top: 12px;">Ganhe dinheiro inspirando outros e compartilhando mais do que você ama</p>
      <div class="spacer" style="width: 300px; height: 17px;"></div>
      
      <p style="color:#FCFCFC;text-align: left;font-family:Kollektif;font-size: 16px;margin-top: 12px;">As Experiências são atividades únicas desenvolvidas por pessoas que tem paixão pelo que fazem. Uma visita a vários bares da cidade em uma noite, um passeio de stand-up pelas praias, uma trilha noturna para ver o nascer do sol. São mais do que simples passeios, são experiências únicas.</p>
       <div class="spacer" style="width: 300px; height: 35px;"></div>
      
      <button class="btn" ng-click="Proximo()"   style="font-family:Kollektif;font-size: 16px;">Legal!</button>


  </ion-content>
</ion-view>