<ion-view id="onboardingcomerciopessoa2" style="background:#212121;">
  <ion-nav-bar class="bar-positive">
        <ion-nav-title >
        <img  height="90%"   src="img/tituloB.png" >    
        </ion-nav-title> 
        <ion-nav-back-button></ion-nav-back-button>
</ion-nav-bar>

  <ion-content padding="true" class="has-header">
    <style type="text/css">
      span.infosobre { color:#ff4444;font-weight:bold;font-family:Kollektif;font-size:15px; }
    </style>
    <style type="text/css">
      span.infos { color:#FCFCFC;font-weight:bold;font-family:Kollektif;font-size:15px; }
    </style>
    <style>
      /* Style the buttons */
      .btn {
        background:#212121;
        border-color: #ff4444;
          border: solid 1 ;
          outline: #ff4444;
          cursor: pointer;
          font-size: 22px;
          width: 100%;
          height: auto;
          
          color: #e0e0e0;
          font-family:Kollektif;
          border-radius:64px 64px 64px 64px;
          padding: 10px;
      }
      .btn:active {
          background: #111;
          color: #ff4444;
      }
      </style>

      <p style="color:#ff4444;text-align: left;font-family:Kollektif;font-size: 22px;margin-top: 12px;">O que procuramos em uma Experiência Local:</p>
      <div class="spacer" style="width: 300px; height: 17px;"></div>
      
      <p style="color:#FCFCFC;text-align: center;font-family:Kollektif;font-size: 16px;margin-top: 12px;">• Atividades diferenciadas com envolvimento direto dos participantes</p>
      <p style="color:#FCFCFC;text-align: center;font-family:Kollektif;font-size: 16px;margin-top: 12px;">• Um organizador experiente, apaixonado pelo que faz </p>
      <p style="color:#FCFCFC;text-align: center;font-family:Kollektif;font-size: 16px;margin-top: 12px;">• Foco na comunidade local e na perspectiva única do organizador</p>

      <div class="spacer" style="width: 300px; height: 17px;"></div>
      <p style="color:#ff4444;text-align: left;font-family:Kollektif;font-size: 22px;margin-top: 12px;">O que não queremos:</p>
      <div class="spacer" style="width: 300px; height: 17px;"></div>
      
      <p style="color:#FCFCFC;text-align: center;font-family:Kollektif;font-size: 16px;margin-top: 12px;">• Algo que os participantes possam fazer sozinhos</p>
      <p style="color:#FCFCFC;text-align: center;font-family:Kollektif;font-size: 16px;margin-top: 12px;">• Experiências sem um responsável por oferecê-las</p>
      <p style="color:#FCFCFC;text-align: center;font-family:Kollektif;font-size: 16px;margin-top: 12px;">• Impessoalidade e grupos muito grandes</p>
      
       <div class="spacer" style="width: 300px; height: 35px;"></div>
      
      <button class="btn" ng-click="Proximo()"   style="font-family:Kollektif;font-size: 16px;">Entendi</button>


  </ion-content>
</ion-view>