<ion-view  id="PagSeguroNomeConta" title="Confirmação de comprador" style="background:#212121;color:#ff4444;" class="hide-tabs" >
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  </ion-nav-bar>
  
  <ion-content padding="true" class="has-header" on-scroll="getScrollPosition()">

    <style>
      /* Style the buttons */
      .btnnovahomelogin {
        background:#212121;
        border-color: #ff4444;
          border: solid 1 ;
          outline: #ff4444;
          cursor: pointer;
          font-size: 22px;
          width: 100%;
          height: auto;
          
          color: #e0e0e0;
          font-family:Kollektif;
          border-radius:64px 64px 64px 64px;
          padding: 10px;
      }
      .btnnovahomelogin:active {
          background: #111;
          color: #ff4444;
      }
      </style>


      <h2 style="text-align: center;font-family:Kollektif;font-size:22px;color: white;font-weight: bold;" >Dados do titular</h2>
      
      <p style="color:#FCFCFC;text-align: left;font-family:Kollektif;font-size: 16px;margin-top: 35px;margin-left: 7px;font-weight: bold;"> Nome como no cartão</p>
      <input type="text"  ng-model="reserva.senderName" placeholder="Digite aqui seu nome como no cartão" style="background:#212121;border-color: #cdcdcd;color:  #ff4444;text-align: left;width: 100%;font-size: 22px;font-family:Kollektif;padding: auto;margin-left: 7px;letter-spacing: 2px;">

      <div class="spacer" style="width: 300px; height: 17px;"></div>
      
       <p style="color:#FCFCFC;text-align: left;font-family:Kollektif;font-size: 16px;margin-top: 12px;margin-left: 7px;font-weight: bold;"  id = "inputNumberCPF" >CPF</p>
      <input type="text" ng-model="reserva.creditCardHolderCPF" placeholder="Digite aqui seu CPF" style="background:#212121;border-color: #cdcdcd;color:  #ff4444;text-align: left;width: 100%;font-size: 22px;font-family:Kollektif;padding: auto;margin-left: 7px;letter-spacing: 2px;" maxlength="14">

       <p style="color:#FCFCFC;text-align: left;font-family:Kollektif;font-size: 16px;margin-top: 12px;margin-left: 7px;font-weight: bold;">Data de nascimento</p>
      <input type="date" ng-model="reserva.auxcreditCardHolderBirthDate" style="color:#ff4444;background-color: #212121;align-items: center;text-align: center;font-size:22px; margin-left: auto;
  margin-right: auto;">
      <div class="spacer" style="width: 300px; height: 17px;"></div>

    <p style="color:#FCFCFC;text-align: left;font-family:Kollektif;font-size: 16px;margin-top: 12px;margin-left: 7px;font-weight: bold;">Contato (cel)</p>
    <input type="text" ng-model="reserva.creditCardHolderAreaCode" placeholder="Digite aqui seu DDD (XX)" style="background:#212121;border-color: #cdcdcd;color:  #ff4444;text-align: left;width: 100%;font-size: 22px;font-family:Kollektif;padding: auto;margin-left: 7px;letter-spacing: 2px;" maxlength="2">
      <input type="text" ng-model="reserva.creditCardHolderPhone" placeholder="Digite aqui seu número de celular" style="background:#212121;border-color: #cdcdcd;color:  #ff4444;text-align: left;width: 100%;font-size: 22px;font-family:Kollektif;padding: auto;margin-left: 7px;letter-spacing: 2px;" maxlength="9">

      <div class="spacer" style="width: 300px; height: 17px;"></div>

        <button id="perfil-button181" class="btnnovahomelogin" ng-click="confirmar()" style="font-family:Kollektif; margin-bottom: 15px;font-size: 16px;">Confirmar</button>




  </ion-content>
</ion-view>