<ion-view title="Sobre nós" id="sobre" style="background:#212121;">
  <ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
</ion-nav-bar>

  <ion-content padding="true" class="has-header">
    <style type="text/css">
      span.infosobre { color:#ff4444;font-weight:bold;font-family:Kollektif;font-size:15px; }
    </style>
    <div id="comentRiosEvento-markdown9" class="show-list-numbers-and-dots">

    

      <p style="color:#FCFCFC;text-align: left;font-family:Kollektif;font-size: 15px;margin-top: 12px;">Nossos <span class="infosobre">amigos</span> são o que fazem pequenos momentos virarem <span class="infosobre">histórias</span> inesquecíveis. É por isso que criamos o Diwo.</p>
      <p style="color:#FCFCFC;text-align: left;font-family:Kollektif;font-size: 15px;margin-top:12px;">Nosso objetivo é ajudar as pessoas se <span class="infosobre">conectarem</span> com as outras, com elas mesmas, e com o mundo à sua volta.</p>

      <p style="color:#FCFCFC;text-align: left;font-family:Kollektif;font-size: 15px;margin-top:12px;">Nós fazemos isso aproximando as pessoas face à face a partir de seus <span class="infosobre">interesses</span>. </p>
      <p style="color:#FCFCFC;text-align: left;font-family:Kollektif;font-size: 15px;margin-top:12px;">Se o Facebook é pessoas que você conhece compartilhando coisas com as quais você não se importa, o Diwo são as coisas pelas quais você se interessa compartilhadas por pessoas que  você <span class="infosobre">ainda não conhece</span>. </p>
      <p style="color:#FCFCFC;text-align: left;font-family:Kollektif;font-size: 15px;margin-top:12px;">  Seja o que for que você ama fazer, provavelmente existe uma  <span class="infosobre">comunidade</span>, um grupo de pessoas que também se importa com as mesmas coisas.</p>
      <p style="color:#FCFCFC;text-align: left;font-family:Kollektif;font-size: 15px;margin-top:12px;">  E se você não souber o que ama fazer, não se preocupe.
Ao aproximar as pessoas dessa maneira, intensificamos as  <span class="infosobre">experiências</span> que vivemos. Mais experiências, geram mais histórias, e nos ajuda a descobrir  <span class="infosobre">quem somos</span>.

      </p>


      <p style="color:#FCFCFC;text-align: left;font-family:Kollektif;font-size: 15px;margin-top:12px;">Quando sabemos quem somos, nos tornamos mais interessantes e  <span class="infosobre">atraímos</span> mais pessoas como nós. </p>
      <p style="color:#FCFCFC;text-align: left;font-family:Kollektif;font-size: 15px;margin-top:12px;">Atraindo mais pessoas, conhecemos diferentes personalidades, aumentamos as chances de encontrarmos aqueles com os quais  <span class="infosobre">nos identificamos</span> e passamos a pertencer à uma comunidade.</p>
     
      
    </div>
     <p style="color:#FCFCFC;text-align: left;font-family:Kollektif;font-size: 15px;margin-top:12px;"> <span class="infosobre">Todo amigo já foi um desconhecido um dia</span>.
       Seja parte desse movimento e 
      Diwo!</p>

  </ion-content>
</ion-view>