<ion-view title="Sobre Campanhas" id="sobrecampanhas" style="background:#212121;">
  <ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
</ion-nav-bar>

  <ion-content padding="true" class="has-header">
    <style type="text/css">
      span.infosobre { color:#ff4444;font-weight:bold;font-family:Kollektif;font-size:15px; }
    </style>
    <div id="comentRiosEvento-markdown9" class="show-list-numbers-and-dots">

    

      <p style="color:#FCFCFC;text-align: left;font-family:Kollektif;font-size: 15px;margin-top: 12px;font-weight: bold">Eventos Campanhas são eventos que servem para impulsionar seu alcance de marketing e eficácia na aquisição de clientes.</p>


      <p style="color:#FCFCFC;text-align: left;font-family:Kollektif;font-size: 15px;margin-top:35px;">Vantagens de lançar Campanhas:</p>

      <p style="color:#FCFCFC;text-align: left;font-family:Kollektif;font-size: 15px;margin-top: 12px;margin-left: 15px">• Estes eventos ficam visualmente destacados na Tela Inicial do app;</p>
      <p style="color:#FCFCFC;text-align: left;font-family:Kollektif;font-size: 15px;margin-top: 12px;margin-left: 15px">• Ofertas dinâmicas de acordo com a quantidade de participantes confirmados no evento;</p>
      <p style="color:#FCFCFC;text-align: left;font-family:Kollektif;font-size: 15px;margin-top: 12px;margin-left: 15px">• Flexibilidade do parceiro de escolher quais serão as recompensas oferecidas, assim como o número necessário de participantes a ser atingido</p>
      <p style="color:#FCFCFC;text-align: left;font-family:Kollektif;font-size: 15px;margin-top: 12px;margin-left: 15px">• Sem necessidade de oferecer descontos abusivos que prejudiquem sua margem, pois poderá amortizar os custos na quantidade de pessoas</p>

       <p style="color:#FCFCFC;text-align: left;font-family:Kollektif;font-size: 15px;margin-top:35px;">Ei, só um detalhe! Por enquanto, o máximo de Campanhas que os parceiros podem lançar são 4 a cada 30 dias, se você lançar todas, terá que esperar esse período para lançar mais, e se não utilizar as 4, elas não vão se acumular tá? Então aproveite enquanto essa cortesia está disponível!</p>


  </ion-content>
</ion-view>