<ion-view id="page1" style="font-family:Kollektif;">
 
  <ion-tabs class="tabs-striped tabs-down tabs-positive" ng-class="{'tabs-item-hide': hideTabs}" id="tabsController-tabs1">
    <ion-tab icon="ion-android-walk" href="#/page1/page2" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab  icon="ion-ios-plus" href="#/page1/criarmarcandodia" id="tabsController-tab4" >
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
    <ion-tab  icon="ion-pizza" href="#/page1/cartela" id="tabsController-tab5" >
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
    <ion-tab  icon="ion-ios-calendar" href="#/page1/page7" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab icon="ion-home" href="#/page1/bairroapresenta" id="tabsController-tab3"  >
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
   <ion-nav-bar >
      <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>
    </ion-nav-bar>
</ion-view>