<ion-view id="tabsControllersemlogin" style="font-family:Kollektif;">
  
  <ion-tabs class="tabs-striped tabs-down tabs-positive"  id="tabsControll1">
    <ion-tab icon="ion-ios-home" href="#/tabsControllersemlogin/homesemlogin" id="tabsControllerq-tab1">
      <ion-nav-view name="tab1semlogin"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
  <ion-nav-bar class = "bar-positive">
    <ion-nav-title >
        <img  height="90%"   src="img/titulo.png" >    
        </ion-nav-title> 
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>
  </ion-nav-bar>
</ion-view>