<ion-view title="ONDE???" id="ver_onde_mapa_Eventoabertos" style="background:#212121;color:#ff4444;">
  <ion-nav-bar class="bar-positive">
     <ion-nav-back-button></ion-nav-back-button>
</ion-nav-bar>
  <ion-content padding="true" class="has-header">
  <!--   <h3 id="criandoEventoPart2-heading9" style="color:#000000;">E... onde que vai ser?</h3> -->

<!--  <input id="pac-input" class="controls" type="text" style="width: 100%;"
        placeholder="Escreva aqui ou arraste o marcador no mapa">
<div class="spacer" style="width: 300px; height: 14px;"></div> -->

<!--  <label class="item item-input" id="criandoEventoPart1-input19">
        <span class="input-label">Nome do local</span>
        <input type="text" placeholder="Praia, quiosque 30, pico da pedra" ng-model="evento.nomelocal">
      </label> -->
   <div id="map_canvas2" style="color:#45c18e;width: 100%; height: 600px;border-radius:14px 14px 14px 14px;border: solid 1px #ff4444;" data-tap-disabled="true"></div>

  <!--   <div id="criandoEventoPart2-button-bar6" class="button-bar">
      <button id="criandoEventoPart2-button35" class="button button-assertive button-block" ui-sref='tabsController.criandoEventoPart1'>Cancelar</button>
      <button id="criandoEventoPart2-button36" class="button button-balanced button-block" ng-click="getCriar(evento)">Proximo</button>
    </div> -->
  </ion-content>
</ion-view>