<ion-view  id="versao" style="background:#212121;color:#ff4444;">
  <ion-nav-bar class = "bar-positive">
    <ion-nav-title >
        <img  height="90%"   src="img/titulo.png" >    
        </ion-nav-title> 

  </ion-nav-bar>
  
  <ion-content padding="true" class="has-header">
    <style type="text/css">
      span.termos { color:#FCFCFC;font-weight:bold;font-family:Kollektif;font-size:14px;text-align: center; }
    </style>

        <style>
      /* Style the buttons */
      .btnversao {
        background:#212121;
        border-color: #ff4444;
          border: solid 1 ;
          outline: #ff4444;
          cursor: pointer;
          font-size: 22px;
          width: 100%;
          height: auto;
          
          color: #e0e0e0;
          font-family:Kollektif;
          border-radius:64px 64px 64px 64px;
          padding: 10px;
      }
      .btnversao:active {
          background: #111;
          color: #ff4444;
      }
      </style>
    <button style="font-family:Kollektif;float: right;text-align: center;color:#ddd;font-size: 22px;border-color: #ff4444;
          border: solid 1 ;border-radius: 50%" class="button button-clear" ng-click = "Skip()">X</button>

      <div class="spacer" style="width: 300px; height: 50px;"></div> 
      


    <h2 style="text-align: center;font-family:Kollektif;font-size:28px;color:#ff4444;" >É hora de evoluir</h2>
   <div class="spacer" style="width: 300px; height: 20px;"></div> 

      <p   style="color:#FCFCFC;text-align: center;font-family:Kollektif;font-size: 22px;margin: auto;">Uma nova versão do Diwo está disponível, atualize o app para entrar em uma nova experiência e desfrutar de novos recursos</p>
      <div class="spacer" style="width: 300px; height: 114px;"></div> 

<!-- 
     <img  src="img/Onboarding pikachu meme2.png" width="100%" height="auto"  style="display: block;
            margin-left: auto;
            margin-right: auto;" > -->
               <button class="btnversao" ng-click = "irparaloja()" style="font-family:Kollektif; margin-bottom: 15px;
          margin-top: 15px;font-size: 16px;">Ir para loja</button>

   <!-- <button class="btnversao" href="#" onclick="window.open('http://onelink.to/cscut7', '_system', 'location=no'); return false;" style="font-family:Kollektif; margin-bottom: 15px;
          margin-top: 15px;font-size: 16px;">Ir para loja</button> -->

    <p style="color:#FCFCFC;text-align: left;font-size: 10px;">Esta tendo problemas para entrar? Entre em contato com suporte@diwoapp.com.br</p>
  </ion-content>
</ion-view>